<%= link_to 'Add project', new_admin_project_path, class: :add %>
<ul class="projects sortable resource-list" data-update-url="<%= sort_admin_projects_url %>">
  <% @projects.each do |project| %>
    <%= content_tag(:li, id: dom_id(project)) do %>
      <%= link_to project.title, edit_admin_project_path(project) %>
      <%= link_to t('helpers.submit.project.delete'),
                  [:admin, project],
                  method: :delete,
                  class: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</section>
