<%= link_to 'Add project', new_admin_project_path, class: :add %>
<ul class="projects sortable" data-update-url="<%= sort_admin_projects_url %>">
  <%= content_tag_for(:li, @projects) do |project| %>
    <%= link_to project.title, edit_admin_project_path(project) %>
    <%= link_to 'Delete', [:admin, project], method: :delete, class: :delete %>
  <% end %>
</section>
