<section class="project">
  <div class="project-container">
    <div class="img">
      <%= project_logo(@project) %>
    </div>
    <h3><%= @project.title %></h3>
  </div>
  <div class="info">
    <div class="copy role">
      <h4>Role</h4>
      <p><%= @project.role %></p>
    </div>
    <div class="copy website">
      <h4>Website</h4>
      <%= link_to @project.website, @project.website %>
    </div>
    <article class="copy description">
      <h4>Description</h4>
      <%= convert_markdown(@project.description) %>
    </article>
  </div>
</section>
