<section class="project">
  <div class="project-container">
    <div class="img">
      <%= project_logo(@project) %>
    </div>
    <h2><%= @project.title %></h2>
  </div>
  <div class="info">
    <div class="copy role">
      <h3>Role</h3>
      <p><%= @project.role %></p>
    </div>
    <div class="copy website">
      <h3>Website</h3>
      <%= link_to pretty_url(@project.website), @project.website %>
    </div>
    <article class="copy description">
      <h3>Description</h3>
      <%= convert_markdown(@project.description) %>
    </article>
  </div>
</section>
