<article class="post">
  <h2><%= link_to post.title, post %></h2>
  <aside class="meta">
    <%= link_to post do %>
      Posted
      <time datetime="<%= timestamp(post.created_at) %>">
        <%= pretty_date(post.created_at) %>
      </time>
    <% end %>
  </aside>
  <%= convert_markdown(post.body) %>
</article>
