<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1" />
  <script src="https://use.typekit.net/bts7vjo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'admin/admin', media: 'all' %>
  <%= javascript_include_tag :admin %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <main>
    <h2><%= title %></h2>
    <%= render 'admin/shared/navigation' %>
    <%= yield %>
  </main>
</body>
</html>
