<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= favicon_link_tag('favicon.png') %>
  <%= stylesheet_link_tag "admin/admin", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag :admin, "data-turbo-track": "reload", defer: true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <main>
    <%= render 'admin/shared/navigation' %>
    <%= yield %>
  </main>
</body>
</html>
