<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag '//use.typekit.net/bts7vjo.js' %>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="inner-wrap">
      <h1>Edward Loveall</h1>
      <h4>Cambridge, MA</h4>
    </div>
  </header>

  <div class="main-wrap">
    <%= yield %>
  </div>

</body>
</html>
