<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1" />
  <script src="https://use.typekit.net/bts7vjo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <title><%= title %></title>
  <%= favicon_link_tag('favicon.png') %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'header' %>
  <main>
    <%= render 'navigation' %>
    <%= yield %>
  </main>
  <%= render 'footer' %>
  <%= render 'javascript' %>
</body>
</html>
