<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noodp" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1" />
  <script src="https://use.typekit.net/bts7vjo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <title><%= title(title: @post&.title) %></title>
  <%= favicon_link_tag('favicon.png') %>
  <%= auto_discovery_link_tag(:rss, rss_url) %>
  <%= stylesheet_link_tag :blog, "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag :blog, "data-turbo-track": "reload", defer: true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'header' %>
  <main>
    <%= yield %>
  </main>
  <%= render 'footer' %>
  <%= render 'blog/javascript' %>
</body>
</html>
